.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.notFound h1 {
    font-size: 80px;
    color: red;
}

.notFoundImg {
  width: 550px;
}
